<div class="loginContainer">
  <div class="mask"></div>
  <app-particle-canvas [id]="'resetPasswordAnimation'"></app-particle-canvas>
    <div class="formSubmit">
      <form [formGroup]="resetPasswordForm" class="fromContainer" (ngSubmit)="onSubmit()">
        <h1 class="text-center mb-4 title">Reset Password</h1>
        <c-input-group class="mb-2 position-relative">
          <span cInputGroupText>
            <svg cIcon name="cil-lock-locked"></svg>
          </span>
          <div style="z-index: 10;" (click)="ShowPassword()">
            <app-eye-icon *ngIf="showPassword" class="eyeIcon"></app-eye-icon>
            <app-eye-close-icon *ngIf="!showPassword" class="eyeIcon"></app-eye-close-icon>
         </div>
          <input formControlName="password" id="password" type="password" cFormControl placeholder="Enter new Password" />
        </c-input-group>
        <div *ngIf="password?.invalid && (password?.touched || password?.dirty)" class="text-danger mb-2">
          <div *ngIf="password?.hasError('required') || password?.hasError('minlength')">
            Password must be at least 6 characters
          </div>
        </div>
        <c-input-group class="position-relative">
          <span cInputGroupText>
            <svg cIcon name="cil-lock-locked"></svg>
          </span>
          <div style="z-index: 10;" (click)="ShowConfirmPassword()">
            <app-eye-icon *ngIf="showConfirmPassword" class="eyeIcon"></app-eye-icon>
            <app-eye-close-icon *ngIf="!showConfirmPassword" class="eyeIcon"></app-eye-close-icon>
         </div>
          <input formControlName="confirmPassword" id="confirmPassword" type="password" cFormControl placeholder="Re-Enter new Password.." />
        </c-input-group>
        <div *ngIf="confirmPassword?.invalid && (confirmPassword?.touched || confirmPassword?.dirty)"  class="text-danger mb-2">
          <div *ngIf="password?.hasError('required') || password?.hasError('minlength')">
            Password must be at least 6 characters
          </div>
        </div>
        <div *ngIf="resetPasswordForm.hasError('passwordsMismatch') && confirmPassword?.touched && password?.touched" class="text-danger mb-2">
          Passwords don't match!
        </div>
        <button cButton type="submit" class="px-4 w-100 bg-black mt-4" [disabled]="!resetPasswordForm.valid" color="primary">Submit</button>
      </form>
    </div>
</div>