<h1 i18n="@@modelList">Module List</h1>
<div class="d-flex justify-content-end mb-2">
    <button routerLink="./create" class="btn btn-success">Create</button>
</div>
<c-card class="mb-4">
    <c-card-header i18n="@@dataTable">Data table</c-card-header>
    <c-card-body>
      <table
        [hover]="true"
        [responsive]="true"
        [striped]="true"
        align="middle"
        cTable
        class="mb-0"
      >
        <thead class="text-nowrap text-truncate">
          <tr>
            <th scope="col" i18n="@@thSTT">STT</th>
            <th scope="col" i18n="@@thName">Name</th>
            <th scope="col" i18n="@@thDescription">Description</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of data; index as i ">
            <td>{{ i+1 }}</td>
            <td>{{ item.name }}</td>
            <td>{{ item.description }}</td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </c-card-body>
  </c-card>
  