@{
    ViewData["Title"] = "Cart Page";
}
<div class="cartPage my-4">
    <table class="table">
        <thead class="tableHeader">
            <tr>
                <th scope="col">Sản Phẩm</th>
                <th scope="col">Đơn Gía</th>
                <th scope="col">Số Lượng</th>
                <th scope="col">Số Tiền</th>
                <th scope="col">Thao Tác</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>Sách Marketing Giỏi Phải Kiếm Được Tiền - The End Of Marketin</th>
                <td>299.000</td>
                <td>1</td>
                <td>299.000</td>
                <td>Xóa</td>
            </tr>
            <tr>
                <th colspan="2">
                    <input type="checkbox" /> Chọn tất cả sản phẩm
                </th>
                <th colspan="4">
                    Tổng: 245.351 
                    <button class="button-pink">Mua Hàng</button>
                </th>
            </tr>
        </tbody>
    </table>
</div>

