@{
    ViewData["Title"] = "Payment Page";
}

<div class="paymentPage my-4">
    <h3>Thông Tin Thanh Toán</h3>
    <form>
        <div class="mb-3">
            <label for="" class="form-label">Full Name</label>
            <input type="email" class="form-control"  aria-describedby="emailHelp">
        </div>
    </form>
</div>