<h1 i18n="@@roleList">Role list</h1>
<div class="d-flex justify-content-end mb-2">
    <button routerLink="./create" class="btn btn-success" i18n="@@create">Create</button>
</div>
<app-data-table>
  <table
    [hover]="true"
    [responsive]="true"
    [striped]="true"
    align="middle"
    cTable
    class="mb-0"
  >
    <thead class="text-nowrap text-truncate">
      <tr>
        <th scope="col">STT</th>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        <th scope="col">Is Active</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of paging.items; index as i ">
        <td>{{ i+1 }}</td>
        <td>{{ item.name }}</td>
        <td>{{ item.description }}</td>
        <td>{{ item.isActive }}</td>
        <td>
          <a
            [routerLink]="['./update', item.id]"
            class="btn btn-primary btn-sm"
            >View</a
          >
          <!-- <button
            class="btn btn-danger btn-sm"
            (click)="delete(item.id)"
          >
            Delete
          </button> -->
      </tr>
    </tbody>
  </table>
</app-data-table>

    