<div class="loginContainer">
  <div class="mask"></div>
    <app-particle-canvas [id]="'recoverPasswordAnimation'"></app-particle-canvas>
      <div class="formSubmit">
        <form [formGroup]="recoverPasswordForm" class="fromContainer" (ngSubmit)="onSubmit()">
          <h1 class="text-center mb-4 title">Recover Password</h1>
          <c-input-group>
            <span cInputGroupText>
              <svg cIcon name="cil-envelope-closed"></svg>
            </span>
            <input formControlName="email" cFormControl placeholder="Enter your email..." type="email" />
          </c-input-group>
          <div *ngIf="email?.invalid && (email?.touched || email?.dirty)" class="text-danger mt-2">
            <div *ngIf="email?.hasError('required')" >
                Enter your email, please!
            </div>
            <div *ngIf="email?.hasError('email')" >
                Email is invalid!
            </div>
        </div>
          <div class="row mt-4">
            <div class="col-6">
                <button cButton type="button" routerLink="/login" class="px-4 w-100" color="info">Back</button>
            </div>
            <div class="col-6">
                <button cButton type="submit" [disabled]="!recoverPasswordForm.valid" class="px-4 w-100 bg-black">Submit</button>
            </div>
        </div>
        </form>
      </div>
  </div>