@import "VariableGlobal.scss";

.productDetailsPage {
    max-width: $maxWidthContent;
    margin: auto;

    @include respond(map-get($breakPoint,"lg")) {
        padding: 0 1rem;
    }

    .summaryAboutProduct {
        max-width: 880px;
        margin: auto;

        .priceOld {
            color: #615F5C;
        }

        .discount {
            color: #e72f8b;
        }

        .avatar {
            max-width: 100%;
            border: 1px solid #e5e7eb;
            margin-bottom: 16px;
        }
        /*.thumbnailList {
            display: flex;
            flex-direction: row;
            flex-wrap:nowrap;
            overflow-x: scroll;

            img {
                height: 150px;
                width: auto;
                border: 1px solid #e5e7eb;
            }
        }*/
        .thumbnail {
            height: 150px;
            width: auto;
            border: 1px solid #e5e7eb;
        }
    }
}
