@{
    ViewData["Title"] = "Production Details Page";
}
<link rel="stylesheet" href="~/css/owlcarousel/owl.carousel.min.css" />
<link rel="stylesheet" href="~/css/owlcarousel/owl.theme.default.min.css" />
<script src="~/js/owlcarousel/owl.carousel.min.js" asp-append-version="true"></script>
<div class="productDetailsPage">
    <p class="m-4">TRANG CHỦ / CỬA HÀNG / SẢN PHẨM</p>
    <div class="summaryAboutProduct mb-4">
        <div class="row">
            <div class="col-6">
                <img class="avatar" src="~/assets/images/christianlouboutin-rougelouboutin-velvet-matte.jpg" alt="..." />
                <div id="thumbnailList" class="owl-carousel">
                    <img class="thumbnail" src="~/assets/images/christianlouboutin-rougelouboutin-velvet-matte.jpg" />
                    <img class="thumbnail" src="~/assets/images/christianlouboutin-rougelouboutin-velvet-matte-1-768x768.jpg" />
                    <img class="thumbnail" src="~/assets/images/christianlouboutin-rougelouboutin-velvet-matte-3.jpg" />
                    <img class="thumbnail" src="~/assets/images/christianlouboutin-rougelouboutin-velvet-matte-2.jpg" />
                    <img class="thumbnail" src="~/assets/images/louboutin-rouge-louboutin-001m-768x766.png" />
                    <img class="thumbnail" src="~/assets/images/louboutin-rouge-louboutin-mau-001m-768x777.png" />
                    <img class="thumbnail" src="~/assets/images/louboutin-rouge-louboutin.png" />
                </div>
            </div>
            <div class="col-6">
                <h4 class="font-blod font-weight-600">
                    Son Louboutin 001M Rouge Louboutin Màu Đỏ Cổ Điển – Velvet Matte
                </h4>
                <p class="mb-2 text-16">
                    <span class="priceOld text-14 font-weight-600 me-2">
                        <s>1.999.999VND</s>
                    </span>
                    <span class="discount text-14 font-weight-600">999.999VND</span>
                </p>
                <p class="text-16 mb-2">Thuong Hieu:<b>A&D</b></p>
                <div class="product-short-description">
                    <p><strong>Son Louboutin 001M Rouge Louboutin</strong> là cây son đỏ huyền thoại của thương hiệu giày gót đỏ lừng danh. Son lỳ lâu trôi cho môi mịn đẹp như chạm khắc. Dáng hình son đứng đầu top list những thiết kế son môi cao cấp gây sốt nhất mọi thời đại.</p>
                </div>
                <div class="d-flex flex-row mb-3">
                    <span>Số lượng: </span>
                    <div class="quantityGroup mx-2">
                        <button class="minusButton">-</button>
                        <input class="quantityInput" name="quantity" id="quantity" type="number" value="1" />
                        <button class="plusButton">+</button>
                    </div>
                    <span> 8527 sản phẩm có sẵn</span>
                </div>
                <button class="btn button-red">
                    <span class="ti-shopping-cart-full"></span>
                    Thêm vào giới hàng
                </button>
                <button class="btn button-pink">Mua Ngay</button>
            </div>
        </div>
    </div>
    <div class="htmlContent">
        <div class="woocommerce-Tabs-panel woocommerce-Tabs-panel--description panel entry-content active" id="tab-description" role="tabpanel" aria-labelledby="tab-title-description">
            <h2 style="text-align: justify;">Son Christian Louboutin 001M Rouge Louboutin Đỏ Cổ Điển Velvet Matte</h2>
            <h3 style="text-align: justify;">Son Louboutin 001M</h3>
            <p style="text-align: justify;">Xuất thân từ một thương hiệu thời trang – mỹ phẩm đẳng cấp thế giới, son môi Christian Louboutin “bỏ bùa” phái đẹp nhờ thiết kế sang trọng, tinh tế cùng bảng màu nóng bỏng, “đẹp quên lối về”. Các cô nàng vẫn thường ngợi ca Louboutin như “phép nhiệm màu” của thế giới trang điểm; thương hiệu sở hữu vô số cây son hoàn hảo đến mức khó tin. Dòng Velvet Matte nhà&nbsp;Christian Louboutin “đốn tim” mọi cô nàng. Cùng trải nghiệm chất son lì mịn, nhẹ tênh với màu sắc tươi tắn, quyến rũ thượng thừa của “nàng thơ” số 1 trong BST – <a href="https://lipstick.vn/shop/son-christian-louboutin-rouge-louboutin-velvet-matte/"><strong>son Louboutin 001M Rouge Louboutin&nbsp;</strong></a>&nbsp;ngay nhé!</p>
            <figure id="attachment_80485" aria-describedby="caption-attachment-80485" style="width: 800px" class="wp-caption aligncenter"><a href="https://lipstick.vn/wp-content/uploads/2015/11/son-louboutin-rouge-louboutin-001m.png"><img class="size-full wp-image-80485 lazy-load-active" src="https://lipstick.vn/wp-content/uploads/2015/11/son-louboutin-rouge-louboutin-001m.png" data-src="https://lipstick.vn/wp-content/uploads/2015/11/son-louboutin-rouge-louboutin-001m.png" alt="son-louboutin-rouge-louboutin-001m" width="800" height="800" srcset="https://lipstick.vn/wp-content/uploads/2015/11/son-louboutin-rouge-louboutin-001m.png 800w, https://lipstick.vn/wp-content/uploads/2015/11/son-louboutin-rouge-louboutin-001m-100x100.png 100w, https://lipstick.vn/wp-content/uploads/2015/11/son-louboutin-rouge-louboutin-001m-510x510.png 510w, https://lipstick.vn/wp-content/uploads/2015/11/son-louboutin-rouge-louboutin-001m-150x150.png 150w, https://lipstick.vn/wp-content/uploads/2015/11/son-louboutin-rouge-louboutin-001m-300x300.png 300w, https://lipstick.vn/wp-content/uploads/2015/11/son-louboutin-rouge-louboutin-001m-768x768.png 768w" data-srcset="https://lipstick.vn/wp-content/uploads/2015/11/son-louboutin-rouge-louboutin-001m.png 800w, https://lipstick.vn/wp-content/uploads/2015/11/son-louboutin-rouge-louboutin-001m-100x100.png 100w, https://lipstick.vn/wp-content/uploads/2015/11/son-louboutin-rouge-louboutin-001m-510x510.png 510w, https://lipstick.vn/wp-content/uploads/2015/11/son-louboutin-rouge-louboutin-001m-150x150.png 150w, https://lipstick.vn/wp-content/uploads/2015/11/son-louboutin-rouge-louboutin-001m-300x300.png 300w, https://lipstick.vn/wp-content/uploads/2015/11/son-louboutin-rouge-louboutin-001m-768x768.png 768w" sizes="(max-width: 800px) 100vw, 800px"></a><figcaption id="caption-attachment-80485" class="wp-caption-text"><em>Son Louboutin 001M Rouge Louboutin huyền thoại</em></figcaption></figure>
            <h2 style="text-align: justify;">Phụ nữ và lý do say đắm “huyền thoại” makeup – son Louboutin 001M Rouge Louboutin</h2>
            <h3 style="text-align: justify;">Sắc đỏ cổ điển kiêu sa, thời thượng của thỏi son Louboutin 001M</h3>
            <figure id="attachment_80481" aria-describedby="caption-attachment-80481" style="width: 800px" class="wp-caption aligncenter"><a href="https://lipstick.vn/wp-content/uploads/2015/11/louboutin-rouge-louboutin-001m.png"><img class="size-full wp-image-80481 lazy-load-active" src="https://lipstick.vn/wp-content/uploads/2015/11/louboutin-rouge-louboutin-001m.png" data-src="https://lipstick.vn/wp-content/uploads/2015/11/louboutin-rouge-louboutin-001m.png" alt="louboutin-rouge-louboutin-001m" width="800" height="798" srcset="https://lipstick.vn/wp-content/uploads/2015/11/louboutin-rouge-louboutin-001m.png 800w, https://lipstick.vn/wp-content/uploads/2015/11/louboutin-rouge-louboutin-001m-100x100.png 100w, https://lipstick.vn/wp-content/uploads/2015/11/louboutin-rouge-louboutin-001m-510x509.png 510w, https://lipstick.vn/wp-content/uploads/2015/11/louboutin-rouge-louboutin-001m-150x150.png 150w, https://lipstick.vn/wp-content/uploads/2015/11/louboutin-rouge-louboutin-001m-300x300.png 300w, https://lipstick.vn/wp-content/uploads/2015/11/louboutin-rouge-louboutin-001m-768x766.png 768w" data-srcset="https://lipstick.vn/wp-content/uploads/2015/11/louboutin-rouge-louboutin-001m.png 800w, https://lipstick.vn/wp-content/uploads/2015/11/louboutin-rouge-louboutin-001m-100x100.png 100w, https://lipstick.vn/wp-content/uploads/2015/11/louboutin-rouge-louboutin-001m-510x509.png 510w, https://lipstick.vn/wp-content/uploads/2015/11/louboutin-rouge-louboutin-001m-150x150.png 150w, https://lipstick.vn/wp-content/uploads/2015/11/louboutin-rouge-louboutin-001m-300x300.png 300w, https://lipstick.vn/wp-content/uploads/2015/11/louboutin-rouge-louboutin-001m-768x766.png 768w" sizes="(max-width: 800px) 100vw, 800px"></a><figcaption id="caption-attachment-80481" class="wp-caption-text"><em>Son Louboutin 001M Rouge Louboutin màu đỏ cổ điển</em></figcaption></figure>
            <p style="text-align: justify;">Sở hữu vẻ ngoài nóng bỏng và quyến rũ,&nbsp;son Louboutin 001M chắc chắn là cái tên không thể bỏ qua của bảng màu Velvet Matte. Nhìn khẽ vài giây thôi là đã bị bỏ “bùa yêu” bởi màu <strong>son Louboutin Rouge Louboutin&nbsp;</strong>lộng lẫy này. Bạn có thể kết hợp son màu đỏ cổ điển với rất nhiều phong cách trang điểm khác nhau mà không sợ xỉn da hay “lạc quẻ”. <a href="https://lipstick.vn/shop/son-christian-louboutin-rouge-louboutin-velvet-matte/"><strong>Son&nbsp;Christian Louboutin 001M</strong></a>&nbsp;thích hợp để nàng diện trong mọi mùa trong năm nhé!</p>
            <figure id="attachment_80483" aria-describedby="caption-attachment-80483" style="width: 800px" class="wp-caption aligncenter"><a href="https://lipstick.vn/wp-content/uploads/2015/11/son-louboutin-001m.png"><img class="size-full wp-image-80483 lazy-load-active" src="https://lipstick.vn/wp-content/uploads/2015/11/son-louboutin-001m.png" data-src="https://lipstick.vn/wp-content/uploads/2015/11/son-louboutin-001m.png" alt="son-louboutin-001m" width="800" height="396" srcset="https://lipstick.vn/wp-content/uploads/2015/11/son-louboutin-001m.png 800w, https://lipstick.vn/wp-content/uploads/2015/11/son-louboutin-001m-510x252.png 510w, https://lipstick.vn/wp-content/uploads/2015/11/son-louboutin-001m-300x149.png 300w, https://lipstick.vn/wp-content/uploads/2015/11/son-louboutin-001m-768x380.png 768w" data-srcset="https://lipstick.vn/wp-content/uploads/2015/11/son-louboutin-001m.png 800w, https://lipstick.vn/wp-content/uploads/2015/11/son-louboutin-001m-510x252.png 510w, https://lipstick.vn/wp-content/uploads/2015/11/son-louboutin-001m-300x149.png 300w, https://lipstick.vn/wp-content/uploads/2015/11/son-louboutin-001m-768x380.png 768w" sizes="(max-width: 800px) 100vw, 800px"></a><figcaption id="caption-attachment-80483" class="wp-caption-text"><em>Son Louboutin 001M Rouge Louboutin</em></figcaption></figure>
            <h3 style="text-align: justify;">Son Louboutin 001M Rouge Louboutin sở hữu chất matte lì mịn, nhẹ tênh, đi cùng năm tháng</h3>
            <p style="text-align: justify;">Dù có bao nhiêu thương hiệu hay dòng son mới ra mắt thì&nbsp;Christian Louboutin vẫn luôn là một biểu tượng “đi cùng năm tháng” của chất son lì. Chiết xuất son Louboutin 001M từ dầu tự nhiên cùng các loại bơ hạt giúp tối ưu hóa trải nghiệm chiều chuộng đôi môi của hội con gái. Tuy thuộc dòng lì nhưng <a href="https://lipstick.vn/san-pham/son-christian-louboutin/"><strong>son Christian Louboutin</strong></a> lại không hề gây cảm giác khô môi hay khó chịu trong suốt quá trình sử dụng. Son lướt nhẹ tênh, êm dịu với khả năng bám màu chạm mốc 8 giờ liên tục. Công thức sáng tạo không dầu khoáng, không Paraben và Pthalate càng khiến phái đẹp an tâm và đặt trọn tin yêu nhiều hơn vào thỏi <strong>son Louboutin 001M</strong>.</p>
            <h3 style="text-align: justify;">Thiết kế sang chảnh, kiêu sa của mỗi cây son Louboutin 001M</h3>
            <p style="text-align: justify;">Được truyền cảm hứng từ hình ảnh kiêu sa, quyền uy của những vị hoàng hậu, thiết kế <strong>son Louboutin 001M&nbsp; Rouge Louboutin&nbsp;</strong>mang đến cho bạn ấn tượng sâu đậm ngay từ giây phút chạm mắt đầu tiên. Son Louboutin Rouge Louboutin kim loại nguyên khối với phần đế vuốt nhọn cùng nắp đậy sang trọng, tinh tế hệt như một chiếc vương miện thứ thiệt. Người ta thường nhắc đến thiết kế nổi tiếng này với rất nhiều cái tên mỹ miều khác nhau như “chiếc đũa nhiệm màu” hay “lọ nước thần” của mỗi người phụ nữ. Chi tiết ruy băng được thắt khéo léo phía trên son Louboutin&nbsp;001M càng tô điểm cho vẻ ngoài sang trọng, lộng lẫy của món đồ trang sức quyền lực này.</p>
            <h3 style="text-align: justify;">Son Louboutin Rouge Louboutin được sáng tạo bởi nhà mốt thời trang số 1 thế giới</h3>
            <p style="text-align: justify;">Tuy chỉ mới ra mắt vào năm 2015 nhưng BST <a href="https://lipstick.vn/san-pham/son-christian-louboutin/son-christian-louboutin-velvet-matte/"><strong>son Christian Louboutin Velvet Matte</strong></a> đã tạo nên một cơn sốt làm đẹp không tưởng trên phạm vi toàn cầu. Nó là tất cả những gì phái đẹp mong ngóng, đợi chờ ở 1 thương hiệu tầm cỡ thế giới. Sở hữu bảng màu đa dạng, chất son lì mịn cùng 1 thiết kế xứng tầm,&nbsp;son Louboutin Rouge Louboutin&nbsp;001M mang đến tuyệt phẩm son môi không thể hoàn hảo hơn của thế kỷ XXI.</p>
            <h2 style="text-align: justify;">Sở hữu bờ môi gợi cảm, cuốn hút mỗi ngày cùng thỏi son Christian Louboutin 001M Rouge Louboutin</h2>
            <p style="text-align: justify;">Sở hữu những thỏi <strong>son Louboutin 001M </strong>chính là cách nhanh nhất giúp phái đẹp tự tin, sành điệu và thể hiện trọn vẹn cá tính của mình. Với màu sắc tươi tắn, chất son tuyệt phẩm cùng vẻ bề ngoài ấn tượng, sắm sửa cho bản thân những cây <a href="https://lipstick.vn/shop/son-christian-louboutin-rouge-louboutin-velvet-matte/"><strong>son Louboutin Rouge Louboutin</strong></a> 001M chắc chắn là bí kíp làm đẹp “chuẩn chỉ” của phụ nữ thế kỉ XXI. Các nàng hãy mau mau ghi nhớ và áp dụng cho bản thân ngay nhé!</p>
        </div>

    </div>
    <div class="relatedProducts mb-4">
        <h1>Nhung San Pham Tuong Tu</h1>
        <div id="relatedProducts" class="owl-carousel owl-theme customCarousel">
            @for (int i = 0; i < 8; i++)
            {
                <div class="item">
                    <div class="coupon text-14">
                        @_language.Getkey("discount") 10%
                    </div>
                    <div class="addToCart">
                        <span class="ti-shopping-cart-full"></span>
                    </div>
                    <img src="~/assets/images/christianlouboutin-rougelouboutin-velvet-matte-247x300.jpg" class="showImg w-100" alt="item" />
                    <img src="~/assets/images/christianlouboutin-rougelouboutin-velvet-matte-1-247x300.jpg" class="showImgHover w-100" alt="item" />

                    <div class="text-center text-14 font-weight-600 text-color-white bg-dark">
                        Mua Ngay!
                    </div>
                    <div class="itemInfor">
                        <p class="font-weight-600 text-16 ">SON GUCCI</p>
                        <a asp-action="index" asp-controller="productDetails" asp-route-ID="abc">
                            <p class="nameProduction font-italic">Son Gucci Màu 25 Goldie Red Matte Đỏ Cổ Điển Hot Nhất</p>
                        </a>
                        <p><span class="priceOld text-14 font-weight-600"><s>1.999.999VND</s></span> <span class="discount text-14 font-weight-600">999.999VND</span></p>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<script>
    $('#relatedProducts').owlCarousel({
        margin: 10,
        loop: false,
        nav: true,
        responsive: {
            0: {
                items: 2
            },
            768: {
                items: 3
            },
            992: {
                items: 4
            }
        }
    });
    $('#thumbnailList').owlCarousel({
        margin: 10,
        loop: false,
        nav: false,
        autoWidth: true,
        responsive: {
            0: {
                items: 2
            },
            768: {
                items: 3
            },
            992: {
                items: 4
            }
        }
    });
</script>